.bar {
    display: flex;
    width: 80vw;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px 1fr;
    justify-content: flex-start;
}

.bar a {
    text-decoration: none;
}

.option {
    padding: 10px 30px;
    list-style: none;
    color: black;
}

.option:hover {
    color: darkgrey;
}

.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
}

.input {
    justify-self: flex-end;
    align-self: center;
}

.search {
    margin-top: 1em;
    height: 2em;
}